#pragma once

// Wi-Fi Credentials
#define WIFI_SSID           "YOUR_WIFI_SSID"
#define WIFI_PASSWORD       "YOUR_WIFI_PASSWORD"

// Blynk IoT Authorization Token
#define BLYNK_AUTH_TOKEN    "YOUR_BLYNK_AUTH_TOKEN"
